.ex-1-square {
    background: white;
    transition: background 3s;
}

.ex-1-square:hover {
    background: red;
}

.ex-2-square {
    width: 100px;
    height: 100px;
    transition: 3s;
}

.ex-2-square:active {
    width: 1100px;
}
